<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="my-book"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Page content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h2 class="ion-text-center">Title: The Book of Wisdom</h2>

    <ion-item>
      <ion-label position="floating" color="primary">Page Title</ion-label>
      <ion-input placeholder="Title Here"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" color="primary">Content</ion-label>
      <ion-textarea
        rows="30"
        cols="70"
        placeholder="content here"
      ></ion-textarea>
    </ion-item>
    <ion-item class="ion-float-right">
      <ion-button routerLink="/page-content" routerDirection="root">
        <ion-icon name="checkmark-circle-outline"></ion-icon> Publish
      </ion-button>
    </ion-item>
  </ion-card></ion-content
>
