#book-img {
  width: 25vh;
  height: 25vh;
  margin: 2vh;
}

#commu-button {
  --border-radius: 0px 20px 20px 0px;
}

#pages-button {
  --border-radius: 20px 0px 0px 20px;
  color: rgb(70, 68, 68);
}

.post-pic {
  width: 40vh;
  height: 40vh;
  margin: auto;
}
h1 {
  padding-top: 5vh;
  font-size: 3.5vh;
}

h5 {
  margin-top: 2px;
  margin-bottom: 2px;
  color: rgb(119, 115, 115);
}

.page-commu-button {
  margin: 0;
}

.post-conetent {
  margin-top: 0;
}

.post-poll {
  width: 50vh;
  margin: auto;
}

ion-button {
  height: 4vh;
  width: 15vh;
  font-size: 1.3vh;
}

ion-card {
  margin: auto;
  margin-top: 2vh;
  width: 100vh;
}

ion-item {
  margin-top: 5vh;
}

ion-thumbnail {
  --border-radius: 50px;
}
