<ion-header>
  <ion-toolbar style="--background: #19a5b4; color: white">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="library"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Pages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="book-header">
    <img
      src="../../../assets/slides/2.jpeg"
      alt=""
      id="book-img"
      class="ion-float-left"
    />
    <h1 class="title-text">The girl who reads</h1>
    <h5 style="color: rgba(255, 255, 255, 0.555)">
      written by: Juan Dela Cruz
    </h5>
    <h5 style="color: rgba(255, 255, 255, 0.555)">
      juandelaCruzdababy@gmail.com
    </h5>
    <p>
      <ion-button shape="round" class="msg-button cirlce-butns">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-button>
      <ion-button shape="round" color="danger" class="cirlce-butns">
        <ion-icon name="warning-outline"></ion-icon>
      </ion-button>
    </p>
  </div>
  <ion-item>
    <ion-button
      class="page-commu-button"
      id="pages-button"
      color="clear"
      routerLink="/read"
      routerDirection="root"
    >
      Pages
    </ion-button>
    <ion-button class="page-commu-button" id="commu-button" color="secondary">
      Community
    </ion-button>
  </ion-item>

  <ion-card class="ion-padding" *ngIf="canPost"
    ><ion-item class="post-conetent">
      <ion-label position="floating">Post an update</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="post-conetent">
      <!-- <ion-button color="light">
        <ion-icon name="image-outline"></ion-icon> + Image
      </ion-button>
      <ion-button color="light">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon> + Poll
      </ion-button> -->
      <ion-button slot="end" style="--background: #19a5b4">
        Post <ion-icon name="paper-plane-outline" class="post-icon"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-card *ngFor="let post of posts" class="ion-padding"
    ><ion-item class="post-conetent">
      <ion-thumbnail slot="start">
        <img src="../../../assets/slides/2.jpeg" />
      </ion-thumbnail>
      <ion-label>Elsa Manaloto</ion-label>
    </ion-item>
    <ion-item class="post-conetent">
      <h6 class="ion-text-justify">{{post.content}}</h6>
    </ion-item>
    <h6 class="ion-float-right">March 2, 2069</h6>
  </ion-card>

  <!-- <ion-card>
    <ion-item class="post-conetent">
      <ion-thumbnail slot="start">
        <img src="../../../assets/slides/2.jpeg" />
      </ion-thumbnail>
      <ion-label>Elsa Manaloto</ion-label>
    </ion-item>

    <ion-item class="post-conetent">
      <h6 class="ion-text-justify">
        Who do want me to revive on the next chapter?
      </h6>
    </ion-item>

    <ion-item class="post-conetent post-poll">
      <ion-label class="ion-text-center">Tommy Jhonnes</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item class="post-conetent post-poll">
      <ion-label class="ion-text-center">Maria Buboy</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item class="post-conetent post-poll">
      <ion-label class="ion-text-center">Didey Wawa</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
    <h6 class="ion-float-right">March 2, 2069</h6>
  </ion-card>

  <ion-card
    ><ion-item class="post-conetent">
      <ion-thumbnail slot="start">
        <img src="../../../assets/slides/2.jpeg" />
      </ion-thumbnail>
      <ion-label>Elsa Manaloto</ion-label>
    </ion-item>
    <ion-item class="post-conetent">
      <h6 class="ion-text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
        optio, quis eius dolorem earum vero exercitationem ab debitis ducimus
        dolore ea, consectetur aliquam! Beatae voluptatum, in molestiae ea
        consectetur deserunt?
      </h6>
    </ion-item>
    <ion-item>
      <img src="../../../assets/slides/3.jpeg" alt="" class="post-pic" />
    </ion-item>

    <h6 class="ion-float-right">March 2, 2069</h6>
  </ion-card> -->
</ion-content>
