#book-img {
  width: 20vh;
  height: 26vh;
  margin: 2vh;
}

#commu-button {
  --border-radius: 0px 20px 20px 0px;
}

#pages-button {
  --border-radius: 20px 0px 0px 20px;
  color: rgb(70, 68, 68);
}

.post-pic {
  width: 40vh;
  height: 40vh;
  margin: auto;
}
h1 {
  padding-top: 5vh;
  font-size: 3.5vh;
}

h5 {
  margin-top: 2px;
  margin-bottom: 2px;
  color: rgb(119, 115, 115);
}

.page-commu-button {
  margin: 0;
}

.post-conetent {
  margin-top: 0;
}

.post-poll {
  width: 50vh;
  margin: auto;
}

ion-button {
  height: 4vh;
  width: 15vh;
  font-size: 1.3vh;
}

ion-card {
  margin: auto;
  margin-top: 2vh;
  width: 100vh;
}

ion-item {
  margin-top: 5vh;
}

ion-thumbnail {
  --border-radius: 50px;
}

.book-header {
  height: 40%;
  width: 100%;
  background-image: url("../../../assets/back-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
}

.title-text {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 3em;
  letter-spacing: 6px;
  margin-bottom: 4%;
}

.msg-button {
  --background: #f4976c;
}

.cirlce-butns {
  margin-top: 1%;
  width: 6em;
  padding: 0;
}

ion-icon {
  width: 3em;
  height: 3em;
  margin: 0;
}

.ads-img {
  height: 15em;
  width: 100%;
  margin-bottom: 3em;
}

.post-icon {
  width: 1.2em;
  height: 1.2em;
}

ion-badge {
  border-radius: 1em;
  --background: rgba(189, 175, 180, 0.678);
  --color: rgba(255, 255, 255, 0.897);
}
