<ion-header>
  <ion-toolbar style="--background: #19a5b4">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      <ion-avatar><img src="../assets/logo.png" id="logo-pic" /></ion-avatar>
      <p
        style="
          letter-spacing: 1px;
          margin-top: 20px;
          font-weight: 500;
          color: white;
        "
      >
        Openbook
      </p>
    </ion-buttons>

    <ion-buttons [routerLink]="['/diary']" slot="end">
      <ion-label style="font-weight: 400; color: white"
        ><small>Juan Dela Cruz</small></ion-label
      >
      <ion-icon
        style="padding-left: 5px; color: white"
        class="icon"
        name="person-circle-outline"
        size="large"
        slot="end"
      ></ion-icon>
    </ion-buttons> </ion-toolbar
></ion-header>

<ion-content>
  <ion-card class="ion-float-left" id="people-card">
    <ion-title>Letters</ion-title>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../../assets/slides/1.jpeg" />
        </ion-thumbnail>
        <h1 style="font-size: 1rem">Pepito Manaloto</h1>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../../assets/slides/2.jpeg" />
        </ion-thumbnail>
        <h1 style="font-size: 1rem">Pepito Manaloto</h1>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../../assets/slides/3.jpeg" />
        </ion-thumbnail>
        <h1 style="font-size: 1rem">Didey Cruz</h1>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../../assets/slides/4.jpeg" />
        </ion-thumbnail>
        <h1 style="font-size: 1rem">Jeffrey Palagan</h1>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../../assets/slides/5.jpeg" />
        </ion-thumbnail>
        <h1 style="font-size: 1rem">Jhunie Boy</h1>
      </ion-item>
    </ion-list></ion-card
  >

  <ion-content class="ion-float-left" id="message-card">
    <ion-card class="ion-text-justify" id="cardmsg">
      <ion-card-header style="background-color: #f4976c"
        ><ion-title
          style="padding: 0; color: rgb(71, 69, 69); font-family: sans-serif"
          >Letter</ion-title
        ></ion-card-header
      >
      <ion-item> <small>March 7,2021</small> </ion-item>
      <ion-item> <small>To:</small></ion-item>
      <ion-item>
        <h1 style="font-size: 15px; font-weight: 700">Juan Dela Cruz</h1>
      </ion-item>
      <ion-item> <ion-label>Sir,</ion-label> </ion-item>
      <ion-item>
        <ion-textarea class="ion-text-justify" readonly disabled
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
          excepturi harum blanditiis vero facilis. Sit, amet veniam cupiditate
          officiis sapiente laudantium similique. Quo dolorum tempora illum
          deleniti accusantium, fugiat natus!Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Quasi excepturi harum blanditiis vero
          facilis. Sit, amet veniam cupiditate officiis sapiente laudantium
          similique. Quo dolorum tempora illum deleniti accusantium, fugiat
          natus!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
          excepturi harum blanditiis vero facilis. Sit, amet veniam cupiditate
          officiis sapiente laudantium similique. Quo dolorum tempora illum
          deleniti accusantium, fugiat natus!Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Quasi excepturi harum blanditiis vero
          facilis. Sit, amet veniam cupiditate officiis sapiente laudantium
          similique. Quo dolorum tempora illum deleniti accusantium, fugiat
          natus!</ion-textarea
        > </ion-item
      ><ion-item>
        <h2 style="font-size: 15px; font-weight: 700">From: Pepito Manaloto</h2>
      </ion-item>
    </ion-card>
    <ion-card class="ion-text-justify" id="cardmsg">
      <ion-card-header style="background-color: #f4976c"
        ><ion-title
          style="padding: 0; color: rgb(71, 69, 69); font-family: sans-serif"
          >Letter</ion-title
        ></ion-card-header
      >
      <ion-item> <small>March 7,2021</small> </ion-item>
      <ion-item> <small>To:</small></ion-item>
      <ion-item>
        <h1 style="font-size: 15px; font-weight: 700">Juan Dela Cruz</h1>
      </ion-item>
      <ion-item> <ion-label>Sir,</ion-label> </ion-item>
      <ion-item>
        <ion-textarea class="ion-text-justify" readonly disabled
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
          excepturi harum blanditiis vero facilis. Sit, amet veniam cupiditate
          officiis sapiente laudantium similique. Quo dolorum tempora illum
          deleniti accusantium, fugiat natus!Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Quasi excepturi harum blanditiis vero
          facilis. Sit, amet veniam cupiditate officiis sapiente laudantium
          similique. Quo dolorum tempora illum deleniti accusantium, fugiat
          natus!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
          excepturi harum blanditiis vero facilis. Sit, amet veniam cupiditate
          officiis sapiente laudantium similique. Quo dolorum tempora illum
          deleniti accusantium, fugiat natus!Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Quasi excepturi harum blanditiis vero
          facilis. Sit, amet veniam cupiditate officiis sapiente laudantium
          similique. Quo dolorum tempora illum deleniti accusantium, fugiat
          natus!</ion-textarea
        > </ion-item
      ><ion-item>
        <h2 style="font-size: 15px; font-weight: 700">From: Pepito Manaloto</h2>
      </ion-item>
    </ion-card>
    <ion-card class="ion-text-justify" id="cardmsg">
      <ion-card-header style="background-color: #f4976c"
        ><ion-title
          style="padding: 0; color: rgb(71, 69, 69); font-family: sans-serif"
          >Letter</ion-title
        ></ion-card-header
      >
      <ion-item> <small>March 7,2021</small> </ion-item>
      <ion-item> <small>To:</small></ion-item>
      <ion-item>
        <h1 style="font-size: 15px; font-weight: 700">Juan Dela Cruz</h1>
      </ion-item>
      <ion-item> <ion-label>Sir,</ion-label> </ion-item>
      <ion-item>
        <ion-textarea class="ion-text-justify" readonly disabled
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
          excepturi harum blanditiis vero facilis. Sit, amet veniam cupiditate
          officiis sapiente laudantium similique. Quo dolorum tempora illum
          deleniti accusantium, fugiat natus!Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Quasi excepturi harum blanditiis vero
          facilis. Sit, amet veniam cupiditate officiis sapiente laudantium
          similique. Quo dolorum tempora illum deleniti accusantium, fugiat
          natus!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
          excepturi harum blanditiis vero facilis. Sit, amet veniam cupiditate
          officiis sapiente laudantium similique. Quo dolorum tempora illum
          deleniti accusantium, fugiat natus!Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Quasi excepturi harum blanditiis vero
          facilis. Sit, amet veniam cupiditate officiis sapiente laudantium
          similique. Quo dolorum tempora illum deleniti accusantium, fugiat
          natus!</ion-textarea
        > </ion-item
      ><ion-item>
        <h2 style="font-size: 15px; font-weight: 700">From: Pepito Manaloto</h2>
      </ion-item>
    </ion-card>
    <ion-card class="ion-text-justify" id="cardmsg">
      <ion-card-header style="background-color: #f4976c"
        ><ion-title
          style="padding: 0; color: rgb(71, 69, 69); font-family: sans-serif"
          >Letter</ion-title
        ></ion-card-header
      >
      <ion-item> <small>March 7,2021</small> </ion-item>
      <ion-item> <small>To:</small></ion-item>
      <ion-item>
        <h1 style="font-size: 15px; font-weight: 700">Juan Dela Cruz</h1>
      </ion-item>
      <ion-item> <ion-label>Sir,</ion-label> </ion-item>
      <ion-item>
        <ion-textarea class="ion-text-justify" readonly disabled
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
          excepturi harum blanditiis vero facilis. Sit, amet veniam cupiditate
          officiis sapiente laudantium similique. Quo dolorum tempora illum
          deleniti accusantium, fugiat natus!Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Quasi excepturi harum blanditiis vero
          facilis. Sit, amet veniam cupiditate officiis sapiente laudantium
          similique. Quo dolorum tempora illum deleniti accusantium, fugiat
          natus!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
          excepturi harum blanditiis vero facilis. Sit, amet veniam cupiditate
          officiis sapiente laudantium similique. Quo dolorum tempora illum
          deleniti accusantium, fugiat natus!Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Quasi excepturi harum blanditiis vero
          facilis. Sit, amet veniam cupiditate officiis sapiente laudantium
          similique. Quo dolorum tempora illum deleniti accusantium, fugiat
          natus!</ion-textarea
        > </ion-item
      ><ion-item>
        <h2 style="font-size: 15px; font-weight: 700">From: Pepito Manaloto</h2>
      </ion-item>
    </ion-card>
  </ion-content>
</ion-content>
