#book-img {
  width: 20vh;
  height: 26vh;
  margin: 2vh;
}

#comments {
  width: 83vh;
}

#commu-button {
  --border-radius: 0px 20px 20px 0px;
  color: rgb(70, 68, 68);
}

#pages {
  width: 70vh;
  margin-left: 20%;
}
#pages-button {
  --border-radius: 20px 0px 0px 20px;
}

#page-date-added {
  font-size: 1.5vh;
}

h1 {
  padding-top: 5vh;
  font-size: 3.5vh;
}

h3 {
  color: #3dc2ff;
  font-weight: bold;
}

h5 {
  margin-top: 2px;
  margin-bottom: 2px;
  color: rgb(119, 115, 115);
}

.comment-item {
  margin-top: 0;
}

.page-card {
  width: 100%;
  padding: 5px;
  margin: 0;
  margin-bottom: 0.5vh;
}

.page-commu-button {
  margin: 0;
}

ion-button {
  height: 4vh;
  width: 15vh;
  font-size: 1.3vh;
}

ion-card {
  margin-left: 5vh;
}

ion-item {
  margin-top: 5vh;
}

ion-avatar {
  margin: auto;
}

.book-header {
  height: 40%;
  width: 100%;
  background-image: url("../../../assets/back-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
}

.title-text {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 3em;
  letter-spacing: 6px;
  margin-bottom: 4%;
}

.msg-button {
  --background: #f4976c;
}

.cirlce-butns {
  margin-top: 1%;
  width: 6em;
  padding: 0;
}

ion-icon {
  width: 3em;
  height: 3em;
  margin: 0;
}

.ads-img {
  height: 15em;
  width: 100%;
  margin-bottom: 3em;
}
ion-badge {
  border-radius: 1em;
  --background: rgba(189, 175, 180, 0.678);
  --color: rgba(255, 255, 255, 0.897);
}
