<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="library"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Pages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    src="../../../assets/slides/2.jpeg"
    alt=""
    id="book-img"
    class="ion-float-left"
  />
  <h1>{{title}}</h1>
  <h5>written by: {{by}}</h5>
  <h5>sampleEmail@gmail.com</h5>
  <ion-item lines="none"
    ><ion-button shape="round" color="success"> Send Message </ion-button>
    <ion-button shape="round" color="danger" (click)="presentReport()">
      Report
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button class="page-commu-button" id="pages-button" color="secondary">
      Pages
    </ion-button>
    <ion-button
      class="page-commu-button"
      id="commu-button"
      color="clear"
      routerLink="/community"
      routerDirection="root"
    >
      Community
    </ion-button>
  </ion-item>

  <br />
  <br />

  <ion-card class="ion-float-left" id="pages">
    <ion-card
      routerLink="/page"
      routerDirection="root"
      class="page-card"
      *ngFor="let chapter of chapters;  let i = index "
      color="dark"
    >
      <h4>
        {{i + 1}} {{chapter.title}}
        <ion-label class="ion-float-right" id="page-date-added"
          >March 20, 1978</ion-label
        >
      </h4>
    </ion-card>
  </ion-card>

  <ion-card class="ion-float-left" id="comments">
    <img src="../../../assets/reading.svg" alt="" />
  </ion-card>
</ion-content>
