h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ion-card {
  padding: 10vh;
}
ion-card-title {
  font-size: 2.5vh;
}
ion-icon {
  width: 3vh;
  height: 3vh;
}

.page-content {
  padding: 7vh;
  font-size: 2vh;
}

p {
  font-size: 1.5em;
  color: black;
  line-height: 2;
}

.title-text {
  color: white;
}

ion-button {
  --border-radius: 0;
  --background: #19a5b4;
}

.left {
  --border-radius: 100px 0 0 100px;
}

.right {
  --border-radius: 0 100px 100px 0;
}
