<ion-header>
  <ion-toolbar style="--background: #19a5b4">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="read"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center title-text"> {{title}} </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <p class="ion-text-center">
      <ion-button shape="round" class="left" (click)="prev()">
        <ion-icon name="arrow-back-outline"></ion-icon> </ion-button
      ><ion-button
        shape="round"
        [routerLink]="['/library']"
        routerLinkActive="router-link-active"
      >
        <ion-icon name="home-outline"></ion-icon> </ion-button
      ><ion-button shape="round" class="right" (click)="next()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </p>
    <p class="ion-text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla consequuntur deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore "magnam sapiente" nulla consequuntur deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla "consequuntur" deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
    </p>

    <p class="ion-text-justify">
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla consequuntur deserunt, eos"
    </p>

    <p class="ion-text-justify">
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla consequuntur deserunt, eos"
    </p>

    <p class="ion-text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla consequuntur deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore "magnam sapiente" nulla consequuntur deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla "consequuntur" deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla consequuntur deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore "magnam sapiente" nulla consequuntur deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla "consequuntur" deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
    </p>

    <p class="ion-text-justify">
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla consequuntur deserunt, eos"
    </p>

    <p class="ion-text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla consequuntur deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore "magnam sapiente" nulla consequuntur deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla "consequuntur" deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
    </p>

    <p class="ion-text-justify">
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla consequuntur deserunt, eos"
    </p>

    <p class="ion-text-justify">
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla consequuntur deserunt, eos"
    </p>

    <p class="ion-text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla consequuntur deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore "magnam sapiente" nulla consequuntur deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla "consequuntur" deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla consequuntur deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore "magnam sapiente" nulla consequuntur deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla "consequuntur" deserunt, eos
      impedit ab tempore nobis voluptate harum dolor. Magnam, laborum nisi.
    </p>

    <p class="ion-text-justify">
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic ut ducimus
      modi, commodi inventore magnam sapiente nulla consequuntur deserunt, eos"
    </p>

    <p class="ion-text-center">
      <ion-button shape="round" class="left" (click)="prev()">
        <ion-icon name="arrow-back-outline"></ion-icon> </ion-button
      ><ion-button
        shape="round"
        [routerLink]="['/library']"
        routerLinkActive="router-link-active"
      >
        <ion-icon name="home-outline"></ion-icon> </ion-button
      ><ion-button shape="round" class="right" (click)="next()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </p>
  </ion-card>
</ion-content>
