<ion-header> </ion-header>

<ion-content>
  <ion-item lines="none">
    <img src="../../../assets/logo.png" alt="" id="logo" />
  </ion-item>
  <ion-card id="content-card"
    ><ion-card id="login-pic" class="ion-float-left">
      <img src="../../../assets/reading.svg" alt="" id="login-img" />

      <h2 class="ion-text-center">Login</h2>
    </ion-card>
    <ion-card id="login-content" class="ion-float-left">
      <ion-item class="form-item">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-input type="text" placeholder="Username"></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="text" placeholder="Password"></ion-input>
      </ion-item>

      <ion-checkbox></ion-checkbox
      ><ion-label color="primary">Remember me</ion-label>

      <ion-button expand="block" color="tertiary"> Login </ion-button>
      <h5 class="ion-text-center">or</h5>
      <ion-button expand="block" fill="clear"> Register </ion-button>
      <ion-item class="ion-float-right">
        <h6>Forgot password?</h6>
      </ion-item>
    </ion-card>
  </ion-card>
</ion-content>
