#add-button {
  width: 30vh;
  margin: auto;
  height: 5vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
}
.book {
  width: 20%;
  margin: auto;
}
.book-img {
  height: 20vh;
  object-fit: cover;
  width: 100%;
}

ion-badge {
  border-radius: 10px;
  width: 6vh;
  margin: auto;
}
