#add-button {
  width: 30vh;
  margin: auto;
  height: 5vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
}
.book {
  width: 20%;
  margin: auto;
  padding: 2%;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d3cce3,
    #e9e4f0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d3cce3,
    #e9e4f0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.book-img {
  height: 20vh;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

ion-badge {
  border-radius: 10px;
  width: 6vh;
  margin: auto;
}
