<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
  crossorigin="anonymous"
></script>
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" color="dark">
      <ion-content color="dark">
        <ion-list id="inbox-list">
          <ion-item color="none" lines="none">
            <ion-icon name="settings-outline"></ion-icon>
          </ion-item>

          <ion-avatar id="menu-pic">
            <img src="../assets/Avatar/2.png" />
          </ion-avatar>

          <h2 class="ion-text-center">Pepito Manaloto</h2>
          <h6 class="ion-text-center">pepitoManaloto@gmail.com</h6>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
              color="dark"
            >
              <ion-icon slot="start" [md]="p.icon + '-sharp'"></ion-icon>
              <h5>{{ p.title }}</h5>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-avatar id="logo">
          <img src="../assets/logo.png" id="logo-pic" />
        </ion-avatar>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
