<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
  crossorigin="anonymous"
></script>
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      style="
        background-color: rgb(243, 232, 232);
        box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
      "
      contentId="main-content"
      type="overlay"
    >
      <ion-content class="main" style="background-color: white; border: none">
        <ion-list id="inbox-list" style="background-color: white">
          <ion-avatar id="menu-pic">
            <img src="../assets/user-profile.png" />
          </ion-avatar>

          <h2 class="ion-text-center" style="font-weight: 800">
            {{ name }}
          </h2>
          <h6 class="ion-text-center">{{ email }}</h6>

          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
              style="padding: 10px"
            >
              <ion-icon slot="start" [md]="p.icon + '-sharp'"></ion-icon>
              <h5 style="font-size: 1rem; font-weight: 600; padding: 10px">
                {{ p.title }}
              </h5>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
