ion-checkbox {
  margin-left: 4%;
}
ion-icon {
  margin-right: 5%;
}
.radio-group {
  display: flex;
  padding-left: 20px;
  padding-bottom: 20px;
}

img {
  margin-left: 5%;
}

h6 {
  margin-top: 0;
}
.fname-lname {
  width: 30vh;
}
.form-item {
  margin-top: 4%;
  margin-bottom: 4%;
}
ion-content {
  --background: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);

  background-image: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);
}
#content-card {
  box-shadow: none;

  height: 100%;
  width: 60%;
  margin: auto;
  --background: linear-gradient(-225deg, #b7f8db 0%, #50a7c2 100%);
  // background: rgba(44, 12, 121, 0.979); /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #d3cce3,
  //   #e9e4f0
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #d3cce3,
  //   #e9e4f0
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#logo {
  width: 15vh;
}

#login-content {
  margin-top: 3.5em;
  box-shadow: none;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.404);
  border-radius: 30px;
  width: 46%;
}

#login-img {
  box-shadow: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  padding-top: 12%;
}

#login-pic {
  box-shadow: none;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.404);
  border-radius: 30px;
  width: 50%;
  margin-top: 8%;
}

//ui
$font-size: 100%;
$font-size: 16px;
$line-height: 1.5;
$primary: #233975;

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
}
h1 {
  font-size: 2.25rem;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: $primary;
}

a:hover {
  text-decoration: underline;
}

.small {
  font-size: 80%;
  text-align: center;
}

.split-screen {
  display: flex;
  flex-direction: column;
}

.left {
  height: 200px;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-size: cover;
}

.left .copy {
  color: white;
  text-align: center;
  // -webkit-font-smoohing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

.left p {
  font-weight: 400;
}

.right .copy {
  color: black;
  text-align: center;
}

.right .copy p {
  margin: 1.5em 0;
  font-size: 0.875rem;
}

.right form {
  width: 328px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #c4c4c4;
  padding: 1em;
  margin-bottom: 1.25em;
  font-size: 0.875rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.input-container.password {
  position: relative;
}
.input-container.password i {
  position: absolute;
  top: 42px;
  right: 16px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  user-select: none;
  margin: 0 0 1.25rem 0;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
  width: 5px;
  height: 10px;
  left: 8px;
  top: 4px;
}

.signup-btn {
  display: block;
  width: 100%;
  background: #00929e;
  color: white;
  font-weight: 700;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.signup-btn :hover {
  background: #007c8e;
  cursor: pointer;
}
