<ion-header> </ion-header>

<ion-content>
  <ion-card id="content-card"
    ><ion-card id="login-pic" class="ion-float-left">
      <h1
        style="
          font-size: 70px;
          color: #f4976c;
          margin-left: 10px;
          padding-top: 100px;
          font-family: sans-serif;
          padding-left: 20px;
        "
      >
        Welcome !
      </h1>
      <p
        style="
          font-size: 20px;
          color: #f4976c;
          font-family: sans-serif;
          padding-left: 40px;
        "
      >
        A good place to be stranded.
      </p>
      <img src="../../../assets/reading.svg" alt="" id="login-img" />
      <br />
      <br />
      <br />
    </ion-card>
    <ion-card id="login-content" class="ion-float-left">
      <ion-card-content>
        <ion-item lines="none">
          <img src="../../../assets/logo.png" alt="" id="logo" />
          <strong>Openbook</strong>
        </ion-item>
        <div class="right">
          <form>
            <section class="copy">
              <h2 Sign up></h2>
              <div class="login-container">
                <strong>Sign up</strong>
              </div>
            </section>
            <div class="input-container email">
              <strong> <label>First Name</label></strong>
              <input
                placeholder="Your first name here"
                type="text"
                id="name"
                name="sample"
                [(ngModel)]="credentials.first_name"
              />
            </div>
            <div class="input-container email">
              <strong> <label>Last Name</label></strong>
              <input
                placeholder="Your last name here"
                type="text"
                id="name"
                name="sample"
                [(ngModel)]="credentials.last_name"
              />
            </div>
            <div class="input-container email">
              <div class="input-container email"></div>
            </div>

            <div class="input-container password">
              <strong> <label for="email">Email</label></strong>
              <input
                type="text"
                id="fname"
                name="password"
                placeholder="example@domain.com"
                name="sample"
                [(ngModel)]="credentials.email"
              />
              <i class="far fa-eye-slash"></i>
            </div>
            <div class="input-container password">
              <strong> <label for="email">Password</label></strong>
              <input
                type="password"
                id="fname"
                name="password"
                placeholder="Must be atleast 6 characters"
                [(ngModel)]="credentials.password"
              />
              <i class="far fa-eye-slash"></i>
            </div>
            <div class="input-container password">
              <strong> <label for="email">Confirm Password</label></strong>
              <input
                type="password"
                id="fname"
                name="password"
                placeholder="Must be atleast 6 characters"
                [(ngModel)]="credentials.password_confirm"
              />
              <i class="far fa-eye-slash"></i>
            </div>

            <button class="signup-btn" (click)="register()">Sign Up</button>

            <section class="copy legal">
              <p>
                <span class="email">
                  Already have account?<a
                    [routerLink]="['/login']"
                    routerLinkActive="router-link-active"
                    >Login</a
                  ></span
                >
              </p>
            </section>

            <section class="copy legal">
              <p>
                <span class="email"
                  >By continuing,you agree to accept our <br />
                  <a href="#">Privacy Policy</a> &amp;
                  <a href="#">Terms of Service</a></span
                >
              </p>
            </section>
            <br />
          </form>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>
