<ion-header> </ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none">
    <img src="../../../assets/pic.jpg" alt="" id="diary-img" />
  </ion-item>

  <h2 class="ion-text-center">{{userData.name}}</h2>
  <h6 class="ion-text-center">{{userData.email}}</h6>
  <p class="ion-text-center">
    <ion-button shape="round" *ngIf="verified == 'false'" (click)="verify()">
      Verify Account
    </ion-button>
    <ion-badge color="primary" *ngIf="verified == 'true'" color="success"
      >Account Verified</ion-badge
    >
  </p>

  <ion-item>
    <ion-card class="ion-float-left" id="people-card">
      <ion-card class="stat-card">
        <ion-button color="warning" shape="round" class="ion-float-right"
          ><ion-icon name="bookmark-outline"></ion-icon
        ></ion-button>
        <ion-label>Chapters Published</ion-label>
        <h2>{{count.chapters}}</h2>
        <ion-label class="ion-float-right" class="date-label"
          >{{today}}</ion-label
        >
      </ion-card>
      <ion-card class="stat-card">
        <ion-button color="primary" shape="round" class="ion-float-right"
          ><ion-icon name="pencil-outline"></ion-icon
        ></ion-button>
        <ion-label>Notes Published</ion-label>
        <h2>{{count.notes}}</h2>
        <ion-label class="ion-float-right" class="date-label"
          >{{today}}</ion-label
        >
      </ion-card>
      <ion-card class="stat-card">
        <ion-button color="tertiary" shape="round" class="ion-float-right"
          ><ion-icon name="book-outline"></ion-icon
        ></ion-button>
        <ion-label>Books Published</ion-label>
        <h2>{{count.books}}</h2>
        <ion-label class="ion-float-right" class="date-label"
          >{{today}}</ion-label
        >
      </ion-card>
    </ion-card>
    <ion-card class="ion-float-left" id="message-card">
      <div class="ion-padding">
        <div style="text-align: left !important; padding-left: 10px">
          <span class="elabel">Full Name</span>
        </div>
        <div class="wrap-input">
          <input class="input" type="text" value="{{userData.name}}" />
        </div>

        <div style="text-align: left !important; padding-left: 10px">
          <span class="elabel">Email</span>
        </div>
        <div class="wrap-input">
          <input class="input" type="text" value="{{userData.email}}" />
        </div>

        <div style="text-align: left !important; padding-left: 10px">
          <span class="elabel">Contact</span>
        </div>
        <div class="wrap-input">
          <input class="input" type="text" value="099982388" />
        </div>
      </div>
      <div class="container-form-btn">
        <button class="form-btn custom-font">Update</button>
        <br />
      </div>
    </ion-card>
  </ion-item>
</ion-content>
