<ion-header> </ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none">
    <img src="../../../assets/pic.jpg" alt="" id="diary-img" />
  </ion-item>

  <h2 class="ion-text-center">Pepito Manaloto</h2>
  <h6 class="ion-text-center">pepitoManaloto@gmail.com</h6>
  <p class="ion-text-center">
    <ion-button shape="round" *ngIf="verified == 'false'" (click)="verify()">
      Verify Account
    </ion-button>
    <ion-badge color="primary" *ngIf="verified == 'true'" color="success"
      >Account Verified</ion-badge
    >
  </p>

  <ion-item>
    <ion-card class="ion-float-left" id="people-card">
      <ion-card class="stat-card">
        <ion-button color="warning" shape="round" class="ion-float-right"
          ><ion-icon name="bookmark-outline"></ion-icon
        ></ion-button>
        <ion-label>Chapters Published</ion-label>
        <h2>{{count.chapters}}</h2>
        <ion-label class="ion-float-right" class="date-label"
          >{{today}}</ion-label
        >
      </ion-card>
      <ion-card class="stat-card">
        <ion-button color="primary" shape="round" class="ion-float-right"
          ><ion-icon name="pencil-outline"></ion-icon
        ></ion-button>
        <ion-label>Notes Published</ion-label>
        <h2>{{count.notes}}</h2>
        <ion-label class="ion-float-right" class="date-label"
          >{{today}}</ion-label
        >
      </ion-card>
      <ion-card class="stat-card">
        <ion-button color="tertiary" shape="round" class="ion-float-right"
          ><ion-icon name="book-outline"></ion-icon
        ></ion-button>
        <ion-label>Books Published</ion-label>
        <h2>{{count.books}}</h2>
        <ion-label class="ion-float-right" class="date-label"
          >{{today}}</ion-label
        >
      </ion-card>
    </ion-card>
    <ion-card class="ion-float-left" id="message-card">
      <ion-item>
        <ion-label position="floating" color="primary">First Name</ion-label>
        <ion-input type="text" placeholder="."><h2>Pepito</h2></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Last Name</ion-label>
        <ion-input type="text" placeholder="."><h2>Manaloto</h2></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Gender</ion-label>
        <ion-input type="text" placeholder="."><h2>Female</h2></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Contact No.</ion-label>
        <ion-input type="text" placeholder="."
          ><h2>0982738927838</h2></ion-input
        >
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Adress</ion-label>
        <ion-input type="text" placeholder="."
          ><h2>#96 Rizal Street, Olongapo City, Zambales</h2></ion-input
        >
      </ion-item>
      <ion-item>
        <ion-button expand="block" color="success" shape="round">
          Update
        </ion-button>
      </ion-item>
    </ion-card>
  </ion-item>
</ion-content>
