h2,
h6 {
  margin-top: 0;
}

h2 {
  margin-bottom: 0;
}

.date-label {
  margin-top: 15%;
}

.stat-card {
  padding: 7%;
}

#diary-img {
  width: 20vh;
  height: 20vh;
  margin: auto;
  border-radius: 50vh;
  margin-top: 3%;
}

#people-card {
  width: 30%;
  height: 100%;
  padding: 2%;
  margin: auto;
}

#message-card {
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 7%;
}
