<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Diary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none">
    <img src="../../../assets/pic.jpg" alt="" id="diary-img" />
  </ion-item>

  <h2 class="ion-text-center">Pepito Manaloto</h2>
  <h6 class="ion-text-center">pepitoManaloto@gmail.com</h6>

  <ion-item>
    <ion-card class="ion-float-left" id="people-card">
      <ion-card class="stat-card">
        <ion-button color="success" shape="round" class="ion-float-right"
          ><ion-icon name="eye-outline"></ion-icon
        ></ion-button>
        <ion-label>Views</ion-label>
        <h2>50,000</h2>
        <ion-label class="ion-float-right" class="date-label"
          >March 8, 2021</ion-label
        >
      </ion-card>
      <ion-card class="stat-card">
        <ion-button color="warning" shape="round" class="ion-float-right"
          ><ion-icon name="star-outline"></ion-icon
        ></ion-button>
        <ion-label>Stars</ion-label>
        <h2>50,000</h2>
        <ion-label class="ion-float-right" class="date-label"
          >March 8, 2021</ion-label
        >
      </ion-card>
      <ion-card class="stat-card">
        <ion-button color="primary" shape="round" class="ion-float-right"
          ><ion-icon name="pencil-outline"></ion-icon
        ></ion-button>
        <ion-label>Notes</ion-label>
        <h2>50,000</h2>
        <ion-label class="ion-float-right" class="date-label"
          >March 8, 2021</ion-label
        >
      </ion-card>
      <ion-card class="stat-card">
        <ion-button color="tertiary" shape="round" class="ion-float-right"
          ><ion-icon name="book-outline"></ion-icon
        ></ion-button>
        <ion-label>Books</ion-label>
        <h2>50,000</h2>
        <ion-label class="ion-float-right" class="date-label"
          >March 8, 2021</ion-label
        >
      </ion-card>
    </ion-card>
    <ion-card class="ion-float-left" id="message-card">
      <ion-item class="ion-text-justify">
        <ion-label position="floating" color="primary">About</ion-label>
        <ion-textarea placeholder="."
          >I am just a normal child wew Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Ut quia quas quidem saepe id fugiat veritatis
          impedit officiis voluptatem ad maiores minus hic sit omnis architecto
          cupiditate ex, quaerat iusto?</ion-textarea
        >
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">First Name</ion-label>
        <ion-input type="text" placeholder="."><h2>Pepito</h2></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Last Name</ion-label>
        <ion-input type="text" placeholder="."><h2>Manaloto</h2></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Gender</ion-label>
        <ion-input type="text" placeholder="."><h2>Female</h2></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Birthday</ion-label>
        <ion-input type="text" placeholder="."
          ><h2>March 10 2021</h2></ion-input
        >
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Contact No.</ion-label>
        <ion-input type="text" placeholder="."
          ><h2>0982738927838</h2></ion-input
        >
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Adress</ion-label>
        <ion-input type="text" placeholder="."
          ><h2>#96 Rizal Street, Olongapo City, Zambales</h2></ion-input
        >
      </ion-item>
      <ion-item>
        <ion-button expand="block" color="success" shape="round">
          Update
        </ion-button>
      </ion-item>
    </ion-card>
  </ion-item>
</ion-content>
