ion-card {
  margin: 10%;
  margin-left: 18%;
  width: 63%;
}

ion-item {
  margin-top: 5vh;
  margin-left: 3vh;
}

ion-input {
  width: 40vh;
}

.content-card {
  margin: 0;
  width: 25vh;
}
.genre-item {
  width: 30vh;
}
#summary-content {
  width: 70vh;
  margin-left: 3vh;
}
#summary-img {
  width: 25vh;
  height: 25vh;
}
